* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://c.pxhere.com/photos/1f/69/planet_earth_globe_space_world_continents_blue_light-632989.jpg!d");
  background-size: cover;
}

.button {
  margin-top: 10px;
  width: 650px;
  height: 50px;
  padding: 10px;
  background-color: black;
  border: solid 3px silver;
  border-radius: 10px;
  font-family: courier;
  color: white;
  margin-left: 10px;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
}

#navigation {
  display: none;
}

#navigation ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

#navigation ul li {
  width: 400px;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px #ff7043;
  text-align: center;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 80px;
  color: #ff7043;
  cursor: pointer;
}

#navigation ul li:hover {
  color: #eceff1;
  border-color: #eceff1;
  font-size: 100px;
}
